.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    background-color: blueviolet;
    padding: 10px;
}
li{
    background: white;
    padding: 10px;
    border-radius: 10px;
}
li:hover{
    background: green;
    padding: 10px;
    border-radius: 10px;
}
